
@{
    ViewData["Title"] = "Quadrant Views";
}
@model List<ApplicationResponse>

<div class="container" style="padding-top:5rem;">
    <div class="row border">
        <div class="col border" style="text-align:center; "><b>Stephen Covey's Matrix</b></div>
        <div class="w-100"></div>
        <div class="col"></div>
        <div class="col border">Urgent</div>
        <div class="col border">Not Urgent</div>
        <div class="w-100"></div>
        <div class="col border">Important</div>

        <div class="col border">

            @foreach (var x in Model)
            {
                if (x.Quadrant == "1" && x.Completed == false)
                {
                    <p>
                        @x.Task<a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">     Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">     Delete</a>

                    </p>
                }
            }
        </div>
        <div class="col border">
            @foreach (var x in Model)
            {
                if (x.Quadrant == "2" && x.Completed == false)
                {
                    <p>
                        @x.Task<a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">     Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">     Delete</a>

                    </p>
                }
            }
        </div>
        <div class="w-100"></div>
        <div class="col border">Not Important</div>
        <div class="col border">
            @foreach (var x in Model)
            {
                if (x.Quadrant == "3" && x.Completed == false)
                {
                    <p>
                        @x.Task<a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">     Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">     Delete</a>

                    </p>
                }
            }
        </div>
        <div class="col border">
            @foreach (var x in Model)
            {
                if (x.Quadrant == "4" && x.Completed == false)
                {
                    <p>
                        @x.Task<a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">     Edit</a>
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">     Delete</a>

                    </p>
                }
            }
        </div>
    </div>
</div>

